
:root {
    --font: 'Oxygen', sans-serif;
    --primary: #42E2B8;
    --gradient2: linear-gradient( #000428 90%, #004e92);
    --gradient:linear-gradient(135deg, #56ccf2 20%, #2f80ed 80%) ;
    --black: black;
  }
  
  body {
    font-family: var(--font);
    background: var(--gradient);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    transition: .3s ease all;
  }
  /* 
  SWITCH
  */
  
.switch {
    background: #343D5B;
    border-radius: 1000px;
    border: none;
    position: relative;
    margin: 5px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    outline: none;
  }
  
  .switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 28px;
    position: absolute;
    background: #F1F1F1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    -webkit-box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
  }
  
  .switch.active {
    background: aqua;
    color: #000;
  }
  
  .switch.active::after {
    right: 0;
    left: unset;
  }
  
  .switch span {
    width: 30px;
    height: 25px;
    line-height: 25px;
    display: block;
    background: none;
    color: #fff;
  }
  /* 
  FORMULARIO
  */
.form {
    max-inline-size: 550px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    align-items: center;
    
  }
  .form h3 {
    font-size: 40px;
    font-weight: bold;
    color: aliceblue;
    text-transform: uppercase;
  
  }
  
  .form label {
    display: block;
    margin-block-start: .5em;
    margin-block-end: .5em;
    padding-inline-start: .5em;
    color: rgb(1, 1, 15);
    font-weight: bold;
  }
  .form label span {
    color: #DA1414;
  }
 
  
  .form input, .form textarea {
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    padding: .8em;
    border-radius: .5em;
    border: 1px solid #858C94;
  }
  .form textarea {
    margin-block-end: 1em;
    font-family: inherit;
 
  }
  
  
  input::-webkit-input-placeholder {
    color: #0F0A0A88;
  }
  
  
  .contact {
    margin-block-end: 2em;
  }
  
  #trucazo {
    opacity: 0;
  }
  /* 
  BOTON
  */
  
.btn {
    /* font-family: var(--font); */
    border-radius: 90px;
    letter-spacing: 1.25px;
    background: initial;
    block-size: 50px;
    display: block;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    border: 2px solid var(--black);
    font-weight: bold;
    padding: 0 1.5em;
 
  }
  .btn.full {
    width: 100%;

  }
  
  .btn.primary {
    background: var(--black);
    color: var(--primary);
    transition: .5s ease all;
  }
  .btn.primary:hover{
      background: var(--primary);
      color: var(--black);
  }

  /* 
  MODO OSCURO
  */

  body.dark{
      background: var(--gradient2);
  }
  body.dark .form label{
      color: lightskyblue;
  }
  body.dark  .form input  {
    border: 1px solid  aqua;
    background: transparent;
    color: whitesmoke;
  }
  body.dark   .form textarea{
    border: 1px solid  aqua;
   
  }
  body.dark  input::-webkit-input-placeholder {
    color: lightcyan;
  }
  body.dark  .btn.primary {

    background: var(--primary);
    color: var(--black);
  }
  body.dark .btn.primary:hover{
    background: var(--black);
    color: var(--primary);
  }
  /* 
  RESPONSIVE
  */
  @media screen and (max-width:580px) {
      .form{
          max-inline-size: 450px;
      }
  }
  @media screen and (max-width:480px) {
    .form{
        max-inline-size: 350px;
    }
}

@media screen and (max-width:380px) {
    .form{
        max-inline-size: 300px;
    }
    
    .form h3{
        margin: 20px 0;
    }
}
@media screen and (max-width:320px) {
    
    .form{
        max-inline-size: 280px;
    }


}


  